
<%= link_to "Back to List ", controller: "book", action: 'list',class: "back-link"  %>

<div class ="Books">
	<h2> add new Book</h2>

	<%= form_for(:books, url: {action: 'create', id: @book.id}) do |t| %>

	  <table summary="Topic form fields">
  
		<tr>
			<th> Book Name </th>
			<td> <%= t.text_field(:bname)  %></td>
		</tr>
		
		<tr>
			<th> Author </th>
			<td> <%= t.text_field(:author)  %></td>
		</tr>

		<tr>
			<th> Price </th>
			<td> <%= t.text_field(:price)  %></td>
		</tr>
		
		
	</table>
	<div class = "form-button">
		<%= submit_tag("createBook") %>
	</div>
	<% end %>
